.play-button {
  margin-top: 20rem;
  width: fit-content;
  display: inline-block;
  height: 13rem;
  width: 13rem;
  position: relative;

  border: 2px solid white;
  border-radius: 50%;
  &__container {
    text-align: center;
  }

  i {
    color: white;
    font-size: 4rem;
    @include absCenter();
  }
}
